
BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/../meta-poky \
  ##OEROOT##/../meta-yocto-bsp \
  ##OEROOT##/../meta-xilinx/meta-xilinx-core \
  ##OEROOT##/../meta-xilinx/meta-xilinx-contrib \
  ##OEROOT##/../meta-xilinx/meta-xilinx-standalone \
  ##OEROOT##/../meta-xilinx/meta-microblaze \
  ##OEROOT##/../meta-xilinx/meta-xilinx-bsp \
  ##OEROOT##/../meta-xilinx/meta-xilinx-vendor \
  ##OEROOT##/../meta-xilinx-tools \
  ##OEROOT##/../meta-openembedded/meta-oe \
  ##OEROOT##/../meta-openamp \
  ##OEROOT##/../meta-zuboard \
  ##OEROOT##/../meta-openembedded/meta-python \
  ##OEROOT##/../meta-openembedded/meta-networking \
  "